
body {
    background-color: #3fc1c9;
  }
  
footer {
    background-color: #364f6b;
    color: #3fc1c9;
    border-top: 1px solid;
}  

nav {
    /* background-color: #549dae; */
    background-color: #364f6b;
    color: #3fc1c9;
}
.rounded-md {
    background-color: #fc5185;
    color: #000;
}

.rounded-md-wtw {
    background-color: rgb(61, 60, 60);
    color: #3fc1c9;
}

.bg-wotahwi {
    background-color: #364f6b;
    color: #3fc1c9;
}

.bg-white-wtw {
    background-color: #3fc1c9;
}

.bg-white {
    background-color: #fc5185;
    color:black;
}

.shadow-lg {
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #000), var(--tw-ring-shadow, 0 0 #000), var(--tw-shadow);
}


@media (min-width: 1024px) {
    .lg\:block {
      fill: #3fc1c9;
    }
  }

.text-wtw {
    color: #3fc1c9;
}

.py-wtw {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  h4 {
    font-size: larger;
    font-weight: bolder;
  }

  .block.mt-4 {
    color: black;
  }

  .flatpickr-calendar {
    background:#fc5185;
    box-shadow:1px 0 0 #3fc1c9,-1px 0 0 #3fc1c9,0 1px 0 #3fc1c9,0 -1px 0 #364f6b,0 3px 13px rgb(54, 79, 107);
  }

  span.flatpickr-weekday {
    color:rgb(0, 0, 0);
  }

  .flatpickr-day {
    color:#000;
  }